<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvce7coxEqu7GKcnr69FRzrIlytCGiYCU</string>
	<key>GCM_SENDER_ID</key>
	<string>404343667183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dokanStock.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dokan-stock</string>
	<key>STORAGE_BUCKET</key>
	<string>dokan-stock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404343667183:ios:e11436be53438d05dbde1a</string>
</dict>
</plist>